params.background_color = "#000000"
params.gap_color = "#FFFFFF"
params.truncate_threshold=0.99
params.outdir="."
params.size="1,1"
params.pixel="1,1"

params.default_gap_size = 'NOT_PROVIDED'
params.column_gap_size = 'NOT_PROVIDED'
params.row_gap_size = 'NOT_PROVIDED'
params.intensity = 'NOT_PROVIDED'
params.column_gaps = 'NO_FILE_COLUMNS'
params.row_gaps = 'NO_FILE_ROWS'
params.grid = 'NO_FILE_GRID'

params.truncate_positive_at = 'NOT_PROVIDED'
params.truncate_negative_at = 'NOT_PROVIDED'
params.truncate_extremes_at = 'NOT_PROVIDED'

params.bicolor = 'NOT_PROVIDED'




profiles {
	standard {
		process.executor = "local"
		withName : normalization_colorization {
			maxForks = 4
		}
	}


	conda {
		process {
			withName: compile {
			    conda = "rust git"
			}
			withName: normalization_colorization{
				conda = "r-base r-magrittr r-data.table r-glue"
			}
		}
	}
}


process.container = 'hugeheat'
docker {
    enabled = true
    temp = 'auto'
}

